
body{
background: rgb(64, 59, 66);
}
header {
    display: flex;
    background-color: white;
    border-radius: 12px;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.header-i {
 height: auto;
}
.logo {
    height: 110x;
    width: 110px;
    border-radius: 12px;
    margin: 0 0 0 10px;
}

a {
    display: flex;
    align-items: flex-start;
    color: black;
}
.scoro {
    display: flex;
    margin: 0 50px 0 70px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.dad {
    display: flex;
    margin: 20px 0 20px 20px;
}
.Yakov {
    display: flex;
    margin: 20px 0 20px 20px;
}
.image {
    display: flex;
    width: 300px;
    height: 100px;
    border-radius: 12px;
}
.info-dad {
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.info-Yakov {
    font-family: Comic Sans MS, Comic Sans, cursive;
}
