
body{
background: rgb(30, 29, 31);
}
header {
    display: flex;
    background-color: rgb(24, 21, 21);
    border-radius: 12px;
    height: 100px;
}
.gachi_men {
    border-radius: 12px;
    height: 100px;
    width: 100px;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.header-i {
 height: auto;
}
.logo {
    height: 110x;
    width: 110px;
    border-radius: 12px;
    margin: 0 0 0 10px;
}

a {
    display: flex;
    align-items: flex-start;
    color:aquamarine;
}
.scoro {
    display: flex;
    color: aquamarine;
    margin: 0 50px 0 70px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.dad {
    display: flex;
    margin: 20px 0 20px 20px;
    text-align: center;
}
.Yakov {
    display: flex;
    margin: 20px 0 20px 20px;
}
.image {
    display: flex;
    width: 300px;
    height: 100px;
    border-radius: 12px;
}
.gif {
    text-align: center;
    width: 11130000px;
    height: 900px;
    border-radius: 12px;
    overflow: hidden;
        position: relative;
}
.info-dad {
    font-family: Comic Sans MS, Comic Sans, cursive;
}
p {
    font-family: Comic Sans MS, Comic Sans, cursive;
    color:aquamarine
}
.hyi {
    
text-align: center;
color:aquamarine
}
.photo {
    box-align: center;
    margin: 20px 0 20px 50px;
    border-radius: 12px;
    width: 150px;
    height: 200px;
}
